# API URLs
STAC_API_URL=http://host.docker.internal:8081 # URL of the STAC API
PYGEOAPI_API_URL=http://host.docker.internal:5000 # URL of the pygeoapi API

# PostgreSQL/PostGIS
POSTGRES_USER=postgres
POSTGRES_PASS=changeme
POSTGRES_DBNAME=postgres
POSTGRES_HOST=database # This is for Docker / Use localhost to connect on local
POSTGRES_PORT=5432 # This is for Docker / Use 5439 to connect on local

# DuckDB
DUCKDB_DATABASE=/data/duckdb/eoapi.duckdb # DuckDB database relative file path
DUCKDB_DATA_DIR=/data/duckdb # Directory for DuckDB data files

# Ports
PYGEOAPI_API_PORT=5000
STAC_API_PORT=8081
RASTER_API_PORT=8082
VECTOR_API_PORT=8083
FRONTEND_PORT=8085
POSTGRES_LOCAL_PORT=5439
