# Application variables
GLOBAL_SRID=4326 # Default SRID for the application, change if needed
STAC_API_URL=http://stac:8081

# Paths for adding local data
VECTOR_TABLES=maTable # Fonctionne aussi avec plusieurs : maTable1,maTable2,maTable3
RASTER_PATH=/data/rastersFolder/ # Path Linux, change rastersFolder to your folder name
WINDOWS_DATA_DIR=C:/Users/nom/rastersFolder # Path Windows for rasters, change to your folder path

# Database -> pg-init/001_create_postgres_role.sql
MY_DOCKER_IP=127.0.0.1
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=postgres
POSTGRES_HOST=database # for Docker / localhost to connect on local (NE PAS CHANGER)
POSTGRES_PORT=5432 # for Docker / 5439 to connect on local (NE PAS CHANGER)

# Logging
LOG_LEVEL=debug

