# Application variables
GLOBAL_CRS=4326 # Default CRS for the application, change if needed
STAC_API_URL=http://stac:8081 # URL of the STAC API, change if needed
PYGEOAPI_API_URL=http://pygeoapi:5000 # URL of the pygeoapi API, change if needed
DUCKDB_API_URL=http://duckdb:8084 # URL of the DuckDB API, change if needed

# Variables for adding local data
VECTOR_TABLES=sud_du_quebec_4326,bdppad_2024_4326_sample_stac # Demo data

RASTER_URL_PREFIX=http://host.docker.internal:8001/ 
# Use host.docker.internal to access the host machine from Docker on Windows or Mac

RASTER_VOLUME_PATH=/mnt/c/Users/Name/rastersFolder # Path Linux for rasters, use scripts/convert_path.sh to convert Windows path to Linux path

RASTER_SOURCE_PATH=/data # Source path for data rasters
RASTER_HARMONIZED_PATH=/data/raster_harmonized # Path for harmonized rasters
RASTER_COG_PATH=/data/raster_cog # Path for COG rasters

# PostgreSQL -> pg-init/001_create_postgres_role.sql
MY_DOCKER_IP=127.0.0.1
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=postgres
POSTGRES_HOST=database # for Docker / Use localhost to connect on local
POSTGRES_PORT=5432 # for Docker / Use 5439 to connect on local

# DuckDB
DUCKDB_DATABASE=data/eoapi.duckdb # DuckDB database relative file path
DUCKDB_DATA_DIR=/app/data # Directory for DuckDB data files

# GDAL
PROJ_LIB=/usr/share/proj # Path to PROJ data files, change if needed

# Logging
LOG_LEVEL=debug