# Application variables
GLOBAL_SRID=4326 # Default SRID for the application, change if needed
STAC_API_URL=http://stac:8081

# Variables for adding local data (TO CHANGE)
#VECTOR_TABLES=sud_du_quebec_4326,bdppad_2024_4326_sample_stac # Table names can be changed to refer to any other tables
#RASTER_URL_PREFIX=http://host.docker.internal:8001/ # Use host.docker.internal to access the host machine from Docker on Windows or Mac
#RASTER_WINDOWS_PATH=C:/Users/nom/rastersFolder # Path Windows for rasters, change to your folder path
#RASTER_VOLUME_PATH=/mnt/c/Users/nom/rastersFolder # Path Linux for rasters, use scripts/convert_path.sh to convert Windows path to Linux path

#RASTER_PATH=/data # Path Linux for rasters (do not change this path, it is used in Docker)

# Database -> pg-init/001_create_postgres_role.sql
MY_DOCKER_IP=127.0.0.1
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=postgres
POSTGRES_HOST=database # for Docker / localhost to connect on local (NE PAS CHANGER)
POSTGRES_PORT=5432 # for Docker / 5439 to connect on local (NE PAS CHANGER)

# Logging
LOG_LEVEL=debug